$serif-fonts: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-base-size: 25px;
$palette-one: #3d314a;
$palette-two: #48233c;
$palette-three: #92374d;
$palette-four: #36558f;
$border-radius: 5px;
$set-border: 1px solid #7261a3;

/* colors 3d314a-48233c-92374d-36558f-7261a3 */
